Source: worldedit
Section: editors
Priority: optional
Maintainer: Matthew Mott <orbweaver3d@gmail.com>
Build-Depends: debhelper (>= 10), cmake (>= 3.12), pkg-config, asciidoctor, libxml2-dev, libglew-dev, python3-dev, libvorbis-dev, libopenal-dev, libalut-dev, libjpeg-dev, libftgl-dev, libwxgtk3.2-dev, libsigc++-2.0-dev, libglib2.0-dev, libeigen3-dev, libgit2-dev
Homepage: https://github.com/FriskTheFallenHuman/WorldEdit
Vcs-Git: https://github.com/FriskTheFallenHuman/WorldEdit.git
Standards-Version: 4.5.1

Package: worldedit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Level editor for Doom 3
 WorldEdit is a 3D level editor for Doom 3, based on the GPL
 release of DarkRadiant.

Package: worldedit-plugin-git
Architecture: any
Depends: worldedit, ${shlibs:Depends}, ${misc:Depends}
Description: Git integration plugin for WorldEdit
 This plugin allows WorldEdit to integrate with Git version control.

Package: worldedit-i18n
Architecture: any
Depends: worldedit, ${misc:Depends}
Description: Internationalisation files for WorldEdit.
 This package includes the translated strings for localising WorldEdit into
 different languages. The currently-available languages are:
 .
 de (German)
